{% extends 'base.html.twig' %}

{% block title %}Les oeuvres complètes{% endblock %}

{% block body %}
{% include "layout/nav.html.twig" %}
<div class="container my-5">


  <!-- Section: Block Content -->
  <section class="dark-grey-text text-center">

    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">recherche</h6>
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Oeuvres complètes</h3>
    <hr class="w-header my-4">

    <!-- First row -->
    <div class="row">

      

        {% for book in books %}
     <!-- Card -->
     <div class="col-lg-4 col-md-6 mb-4">
            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <img class="card-img-top" src="{{ book.cover }}" alt="Card image cap">

              <!-- Card content -->
              <div class="card-body">

                <h5 class="my-3">{{ book.title}}</h5>
                {% for author in book.author %}
                <p class="card-text text-center mb-3">{{ author.firstname}} {{ author.name}}</p>
                {% endfor %}
                <p class="card-text text-uppercase mb-3">{{ book.publicationDate}}</p>

              </div>

            </a>
            <!-- Card -->
    </div>
        {% endfor %}
      
      <!-- First column -->

  

    </div>
    <!-- First row -->

  </section>
  <!-- Section: Block Content -->
  
  
</div>

 
{% include "layout/footer.html.twig" %}
{% endblock %}
